<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" name="Jasper Versantvoort" content="Afvink 1">
    <title>Zoek genes</title>
    <!--<link rel="stylesheet" , href="/static/..."-->
</head>
<body>
<p>Zoeken in de gene table</p>
<p> Hier onder staat een tabel met genen er in met hun discription,
    zoek naar een woord in de zoekbalk om deze te zoeken in de discription van
    de database</p>

<form method="POST">
    <p>
        Voer zoekwoord in:
        <label>
            <input type="text" name=zoek>
            <button type="submit">Zoek</button>
        </label>

    </p>

    <p> Discriptions: </p>

    {% for regel in database %}
        {% if(zoek == 'None') %}
            <p> {{ regel }} <p>
            {% else %}
            <p>
            {% for woord in regel %}
                {% if(woord.upper() == zoek.upper()) %}
                <b>{{ woord }}</b>
                {% else %}
                {{ woord }}
                {% endif %}
            {% endfor %} </p>
        {% endif %}





    {% endfor %}

</form>
</body>
</html>