<!DOCTYPE html>
<html lang="en">
<head>

     <meta charset="UTF-8" name="Jasper Versantvoort" content="Afvink 3">
    <title>Zoek genes</title>
    <!--<link rel="stylesheet" , href="/static/..."-->
</head>
<body>
<p>Zoeken in de gene table</p>
<p> Hier onder staat een tabel met genen er in met hun discription,
    zoek naar een woord in de zoekbalk om deze te zoeken in de discription van
    de database</p>

<p> discriptions: </p>

{% for regel in database %}
    <p> {{ regel }} <p>

{% endfor %}
<p>{{ database }}</p>
</body>
</html>